@charset "utf-8";

$page-width:990px;//页面内容宽度
$content-width :750px; //内容区域宽度 商品区为了抵消右偏的10距离设为760
$primay-red-color:#b20101; //主色调红色
$light-gray-color:#f5f5f5;  //三段式设计的背景色
$deep-gray:#333;	//字体的颜色
$hack_ie7:'+';
$hack_ie:'*';
.required{
	color:$primay-red-color;
	font-size: 14px;
}
@mixin btn-primary{
	width: 100px;
	height: 34px;
	background:#fff;
}
@mixin btn-small{
	width: 60px;
	height: 30px;
	background:#fff;
}
.container{
	input{
		color:$deep-gray;
		color:$deep-gray;
		border-radius: 2px;
		text-align: center;
		font-family: 微软雅黑;
		font-size: 14px;
		cursor: pointer;
		vertical-align: middle;
	}
}
/*header区*/
.mt-seminar-header{
	height: 54px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ebebeb;
}
.seminar-header-inner{
	position: relative;
	$top:10px;
	h3{
		position: absolute;
 		left: 0;
  		top:$top;
		width: $page-width;
		height: 34px;
		line-height: 34px;
		font-size: 16px;
		text-indent: 5px;
		background:url(../images/line-1.png) no-repeat left center;
	}
	.picker-color{
		position: absolute;
		right: 10px;
		top:$top;
		@include btn-primary;
		border-radius: 2px;
		font-size: 14px;
		color:#fff;
		text-align: center;
		line-height: 34px;
		background: $primay-red-color;
	}
}
/*main区域*/
.mt-seminar-body{
	//菜单去
	width: $page-width+10;
	margin-bottom: 80px;//因为吸底遮挡
	.mt-asider{
		float: left;
		$menu-width:200px;
		width: $menu-width;
		margin-right: 30px;
		.tab{
			display:block;
			float: left;
			height: 40px;
			width: 100px;
			line-height: 40px;
			background-color: $light-gray-color;
			color:$deep-gray;
			font-size: 16px;
			text-align: center;
		}
		.active{
			background: $primay-red-color;
			color:white;
		}
		.pannel{
			margin-top: 10px;
			font-size: 12px;
			font-family: 微软雅黑;
			background: $light-gray-color;
			line-height: 2;
		}
		h4{
			font-size: 12px;
			padding: 20px 10px;
			text-indent: 2em;
			font-weight: normal;
		}
		p{
			padding: 0px 10px;
			color:$primay-red-color;
		}
	}
	/*内容区*/
	.mt-pc-contents{
		float: left;
		.tab-content{
			overflow-x:hidden;
		}
		/*焦点图区*/
		.toolbar{
			top:0;
			left: 0;
			height: 50px;
			width: $content-width;
			position: absolute;
			z-index: 100;
		}
		.tool-layer{
			top:0;
			left: 0;
			height: 100%;
			width: 100%;
			text-indent: 12px;
			color:white;
			font-family: 微软雅黑;
			font-size: 14px;
			line-height: 50px;
			z-index: 888;
		}
		.tool-layer-font{
			text-indent: 12px;
			color:white;
			font-family: 微软雅黑;
			font-size: 14px;
			line-height: 50px;
			position:absolute;
			z-index:1000;
			top:0;
			left:0;
		}
		.tool-layer-bg{
			height:100%;
			width:100%;
			position:relative;
			top:0;
			left:0;
			background: #000;
			opacity:.25;
			z-index:999;
			zoom: 1;
			filter: alpha(opacity=25)
		}
		.primary-btn{
			position: absolute;
			right: 15px;
			top:10px;
			@include btn-small;
			z-index: 1000;
		}
		.tab-content{
			display: none;
		}
		.show{
			display: block;
		}
		.focus-item{
			position: relative;
			width: $content-width;
			margin-bottom: 10px;
			img{
				height: 196px;
				width: $content-width;
			}
		}
		.good-group{
			#{$hack_ie7}margin-bottom: 10px;
		}
		/*优惠卷区*/
		.ticket-items{
			position: relative;
			width: $content-width;
			margin-bottom: 20px;
			background: #f5f5f5;
		}
		.ticket-amount{
			position: absolute;
		    width: 100%;
		    height: 97px;
		    text-align: center;
		    line-height: 97px;
		    color: #fff485;
		    font-size: 54px;
		    font-weight: bold;
		}
		.ticket-items .toolbar{
			position: relative;
		}
		.tickets-box{
			margin-top: 16px;
			#{$hack_ie7}margin-bottom:14px;
		}
		.ticket-item{
			position: relative;
			float: left;
			width: 170px;
			height: 97px;
			margin: 14px 0 14px 14px;
			background: url("../images/ticket-bg.jpg") no-repeat;
		}
		.ticket-layer{
			position: absolute;
			top:0;
			left: 0;
			height: 50px;
			width: 100%;
			background: #000;
			opacity: .25;
			filter:alpha(opacity=25);
			z-index: 33;
		}
		.ticket-edit-box{
			z-index: 44;
		}
		.empty .ticket-layer{
			display: none;
		}
		.empty .ticket-edit-box{
			display: none;
		}
		.empty .ticket-add{
			display: block;
		}
		.ticket-delete{
			position: relative;
			margin-left: 30px;
		}
		.ticket-edit{
			position: relative;
			margin-left: 10px;
		}
		.ticket-add{
			left: 50%;
			top: 50%;
			margin-left: -30px;
			margin-top: -15px;
			display: none;
		}
		.ticket-item.empty{
			background: url("../images/ticket-empty-bg.png") no-repeat;
		}

		/* 商品区*/

		.goods-contents{
			width: $content-width;
			background: #f5f5f5;
		}
		.goods-caption{
			position: relative;
			width: $content-width;
			margin-bottom: 18px;
			img{
				width:100%;
			}
		}
		.btn-delete-goods-box{
			right: 100px;
		}
		.goods-items{
			position: relative;
			width: $content-width +10;
		}
		.btn-edit{
			position: absolute;
			left: 50%;
			margin-left: -40px;
			display: block;
			@include btn-primary;
		}
		.btn-edit-goods{
			top:80px;
		}
		.btn-edit-bg{
			top:125px;
		}
		.btn-add-goods-container{
			display: block;
    		height: 60px;
    		width: 120px;
    		margin: auto;
    		line-height: 60px;
			color: #3367cc;
    		font-size: 14px;
    		text-align: center;
		}
	}
}


.mt-seminar-footer{
	position: fixed;
	bottom: 0;
	height: 74px;
	width: 100%;
	background: #f5f5f5;
	z-index: 2000;
	.seminar-footer-inner{
		.edit-box{
			width: $content-width;
			height: 100%;
			padding-left: 230px;
			text-align: center;
		}
		input{
			@include btn-primary;
			margin-top: 20px;
		}
		.btn-view{
			background: $light-gray-color;
			border: 1px solid #c9c9c9;
			border-radius: 2px;
			margin-right: 10px;
		}
		.btn-save{
			background: $primay-red-color;
			color:white;
		}
	}
}

/*专题首页*/

$index-content-width:808px;
.mt-seminar-index-container{

	//选择模板
	.mt-navs{
		width: 100%;
	}
	.nav-container{
		width: 808px;
	}
	width: $index-content-width;
	font-family: 微软雅黑;
	font-size: 14px;
	color:#666;
	.seminar-index-header{
		$border-color:#d0d0d0;
		border-bottom: 2px $border-color solid;
		a{
			font-size: 16px;
			color: #333;
			padding: 13px 20px;
			float: left;
			margin-bottom: -2px;
			border-bottom: 2px $border-color solid;
		}
		.selected{
			color: $primay-red-color;
			border-bottom: 2px $primay-red-color solid;
		}
	}
	.mt-seminar-input-box{
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 10px;
	}
	.summary{
		text-align: left;
		height: 44px;
		line-height: 44px;
		i{
			font-size: 12px;
			color:#999;
			font-style: normal;
		}
	}
	.mt-seminar-table{
		input{

			height: 34px;
			width: 136px;
			padding-left: 1em;
			border: 1px solid #dcdcdc;
			line-height: 34px;
			text-align: left;

		}
		.input-goods-name{
			width: 436px;
		}
		td{
			padding: 9px 0;
		}
		.col1{
			text-align: right;
			padding-right: 20px;
		}
	}
	.mt-template-list{
		padding-bottom: 70px;
		td{
			width: 200px;
			height: 220px;
			text-align: center;
			vertical-align: middle;
			padding: 8px 0;
		}
		.col1{
			text-align: left;
			width: 142px;
		}
		.template{
			display: block;
			border: 3px solid transparent;
			margin: auto;
		}
		.pc-template{
			width: 150px;
			height: 164px;
		}
		.mobile-template{
			position: relative;
			display: block;
			border:none;
			width: 123px;
			height: 214px;
			background: #f0f0f0 url(.././images/mobile-template-bg.png) no-repeat;
			img{
				margin-top: 18px;
			}
		}
		.template-name{
			margin-top: 7px;
		}
		.selected.pc-template{
			border-color:$primay-red-color;
		}
		.selected.mobile-template{
			background: url(../images/stroke-mobile-template-bg.jpg) no-repeat;
		}
	}

	//专题列表
	.mt-seminar-list{

	}
	.seminar-list-navs{
		.selected{
			color:#fff;
			background: #c40000;
			border-color:#c40000;
		}
	}
	.seminar-nav{
		border: 1px solid #e6e6e6;
		display: block;
		width: 104px;
		height: 34px;
		line-height: 34px;
		text-align: center;
		float: left;
		color:#666;
		background: #f7f7f7;
	}
	.seminar-list-content{
		font-size: 12px;
		width: $index-content-width;
		/* border-top:1px solid #e6e6e6; */
		margin-top: 10px;

		//二维码显示
		.seminar-btn-code{
			position: relative;
		}
		.seminar-btn-code:hover{
			.code-box{
				display: block;
			}
		}
		.code-box{
			display: none;
			position: absolute;
			right: -100px;
    		top: 0;
			img{
				width: 100px;
				height: 80px;
			}
		}
		//数据为空时提示
		.empty-tips{
			margin-top: 130px;
			text-align: center;
			color: #999;
			font-size: 14px;
		}
		.btn-goto-add{
			display: block;
			width: 120px;
			height: 32px;
			border-radius: 2px;
			margin:auto;
			margin-top: 25px;
			line-height: 32px;
			color: white;
			background: #c33939;
		}
		table{
			width: 100%;
			border:1px solid #e6e6e6;
			border-bottom: none;
			text-align: center;
		}
		thead{
			background: #f7f7f7;
		}
		th{
			font-weight: normal;
			height: 32px;
		}
		td{
			border-bottom:1px solid #e6e6e6;
			padding: 12px 0;
		}
		.seminar-btn{
			display: block;
			color:#3367cc;
		}
		.seminar-control{
			text-align: left;
			width: 100px;
		}
		.seminar-control .item{
			position:relative;
		}
		.seminar-name{
			width: 200px;
		}

	}
	.pages{
		text-align: center;
		margin-top: 20px;
		.page{
			padding: 8px 12px;
			border: 1px solid #e6e6e6;
			color:#999;
			margin-right: 5px;
		}
		.prev{
			background: url("../images/prev-icon.png") no-repeat 10px center;
			padding-left: 20px;
		}
		.next{
			background: url("../images/next-icon.jpg") no-repeat 52px center;
			padding-right: 20px;
		}
		.current{
			background: $primay-red-color;
			border-color: $primay-red-color;
			color:#fff;
		}
		.ellipsis-box{
			background: url("../images/ellipsis-icon.jpg") no-repeat center;
		}
	}
}
/*mobile 模板2*/
@mixin btn-group{
	display: block;
    height: 30px;
    width: 140px;
    line-height: 30px;
    color: #3367cc;
    font-size: 14px;
    text-align: center;
}
.mt-mobile-contents{
	float: left;
	.phone-container{
		float: left;
		position: relative;
		width: 439px;
		height: 677px;
		background: url("../images/phone-box-bg.png");
	}
	$phone-inner-width:380px;
	.phone-inner-box{
		position: relative;
		width: $phone-inner-width;
		max-height: 598px;
		margin: 20px auto;
	}
	//背景设置
	.btn-mobile{
		padding: 5px;
		background: #fff;
	}
	.edit-bgcolor-box{
		position: relative;
		height:50px;
		width:100%;
	}
	.btn-edit-BGC{
		display: block;
		position: absolute;
		width: 88px;
		height: 30px;
		right:0;
		top:10px;
		line-height: 30px;
		text-align: center;
    	border: 1px solid #c9c9c9;
    	color: #333;
    	border-radius: 2px;
	}
	//焦点图
	.focus-box{
		position: relative;
	}
	.focus-box.empty{
		background: #e2e2e2;
	}
	.focus-data{
		width: 356px;
		height: 267px;
		img{
			width: 356px;
			height: 267px;
		}
	}
	.empty .focus-data img{
		display: none;
	}
	.btn-edit-focus{
		position: absolute;
		top:50%;
		left: 50%;
		margin-top:-15px;
		margin-left:-54px;
	}

	//优惠券
	.ticket-box{
		background: #f5f5f5;
		margin-top: 10px;
		.ticket-item{
			position: relative;
			float: left;
			width: 160px;
			height: 97px;
			margin: 14px 0 14px 20px;
			background: url("../images/ticket-bg.jpg") no-repeat;
		}
	}
	.ticket-amount{
		position: absolute;
		width:100%;
		height:97px;
		text-align:center;
		line-height:97px;
		color:#fff485;
		font-size:54px;
		font-weight:bold;
	}
	.ticket-layer{
		position: absolute;
		top:0;
		left: 0;
		height: 50px;
		width: 100%;
		background: #000;
		opacity: .25;
		filter:alpha(opacity=25);
		z-index: 33;
	}
	.ticket-edit-box{
		z-index: 44;
	}
	.empty .ticket-layer{
		display: none;
	}
	.empty .ticket-edit-box{
		display: none;
	}
	.empty .ticket-add{
		display: block;
	}
	.ticket-delete{
		position: relative;
		margin-left: 30px;
		margin-top: 10px;
		z-index: 55;
	}
	.ticket-edit{
		position: relative;
		margin-left: 10px;
		margin-top: 10px;
		z-index: 55;
	}
	.ticket-add{
		left: 50%;
		top: 50%;
		margin-left: -40px;
		margin-top: -15px;
		position: absolute;
		display: none;
	}
	.ticket-item.empty{
		background: url("../images/ticket-empty-bg.png") no-repeat;
	}
	.btn-add-tickets{
		display: block;
	    height: 30px;
	    width: 140px;
	    margin: 0 auto 15px auto;
	    line-height: 30px;
	    color: #3367cc;
	    font-size: 14px;
	    text-align: center;
	}
	//商品区域
	.goods-contents{
		.goods-box{
			background: #f5f5f5;
			padding: 5px 0;
			position: relative;
		}
		.btn-mobile-box-delete{
			position: absolute;
			padding:2px 6px;
			top:-12px;
			right: 0;
			border: 1px solid #c9c9c9;
			background: #fff;
		}
		.goods-caption{
			position: relative;
			padding: 10px 0;
			border-bottom: 1px dashed #ccc;
		}
		.caption-data{
			position: relative;
			margin: auto;
			width: 336px;
			min-height:80px;
			#{$hack_ie}height:80px;
			img{
				width: 336px;
			}
		}
		.empty .caption-data{
			background: #e2e2e2;
		}
		.btn-edit-caption{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -15px;
			margin-left: -82px;
		}
		.btn-mobile-goods-add{
			top:50%;
			margin-top: -17px;
		}
		.goods-item{
			margin:0 5px 10px 5px;
			.btn-mobile-goods-edit,.btn-mobile-goods-delete{
				display: block;
			}
			.btn-mobile-goods-add{
				display: none;
			}
		}
		.empty{
			.btn-mobile-goods-edit,.btn-mobile-goods-delete{
				display: none;
			}
			.btn-mobile-goods-add{
				display: block;
			}
		}
		.change-style{
			font-size: 12px;
			color: #666;
			padding: 5px;
			strong{
				font-weight: normal;
				font-size: 14px;
				color: #333;
			}
			.btn-mobile-group-delete{
				float: right;
				padding:2px 6px;
				margin-right: 5px;
				border: 1px solid #c9c9c9;
				background: #fff;
			}
		}
		//显示一列
		.style1{
			.goods-item{
				width: 370px;
				height: 150px;
			}
			.goods-pic,.goods-infomation{
				float: left;
			}
			.goods-infomation{
				width: 200px;
				padding:20px 10px;
			}
			.btn-mobile-goods-edit{
				left: 100px;
				top:60px;
			}
			.btn-mobile-goods-delete{
				left: 230px;
				top:60px;
			}
		}
		.btn-add-goods-group{
			@include btn-group;
		    margin: 0 auto 15px auto;
		}
	}
	.btn-add-goods-box{
		@include btn-group;
	    margin: 0 auto 15px auto;
	}
}
.share-container{
	float:left;
	width:262px;
	font-size: 14px;
	font-family: 微软雅黑;
	margin-left: 30px;
	color: #666;
	h4{
		font-weight: normal;
		color: #333;
	}
	.share-text{
		margin: 15px auto;
		a{
			color: #3367cc;
		}
	}
	.btn-share{
		position: relative;
		input{
			display:none;
		}
		.share-pic{
			width:30px;
			height:30px;
			vertical-align:middle;
		}
		.hide{
			display:none;
		}
	}
	.image-tip{
		color: #999;
		font-size: 12px;
	}
	.file-text{
		float: left;
	}
	.share-summry{
		margin-top: 15px;
	}
	textarea{
		width: 214px;
		height: 86px;
		resize:none;
		border: 1px solid #e6e6e6;
		color: #666;
	}
}
	.ticket-item{
		width: 259px;
		height: 131px;
		float: left;
		margin: 0 2px;
	}
	.ticket-item-main{
		float: left;
		height: 131px;
		width: 180px;
	}
	.ticket-item-sider{
		float: right;
		height: 131px;
	}
	.ticket-item.actived{
		color: #fff485;
		width: 257px;
		background: url(../images/ticket-item-active-bg.jpg) no-repeat;
		.ticket-item-sider{
			width: 77px;
			background: url(../images/btn-ticket-active.jpg) no-repeat;
		}
	}
	.ticket-item.overdue{
		color: #ececec;
		background: url(../images/ticket-item-overdue-bg.jpg) no-repeat;
		.ticket-item-sider{
			width: 79px;
			background: url(../images/btn-ticket-overdue.jpg) no-repeat;
		}
		.btn-block-text{
			padding-top: 28px;
			color: #ececec;
			cursor:default;
		}

	}
	.ticket-item.empty{
		width: 256px;
		background: url(../images/ticket-item-empty-bg.jpg) no-repeat;
	}
	.denomination{
		position: relative;
		padding: 15px 0 0 18px;
		.unit{
			font-size: 28px;
		}
		.amount{
			font-size: 54px;
		}
		.name{
			font-size: 14px;
			position: absolute;
			right: 20px;
			top:18px;
		}
	}
	.effective-date{
		text-align: center;
	}
	.effective-extend{
		text-align: center;
	}
	.btn-block-text{
		display: block;
		width: 100%;
		height: 100%;
		font-size: 22px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		padding-top: 36px;
	}
//预览图 pc

//common
.ticket-item{
		width: 259px;
		height: 131px;
		float: left;
		margin: 0 2px;
	.ticket-item-main{
		float: left;
		height: 131px;
		width: 180px;
	}
	.ticket-item-sider{
		float: right;
		height: 131px;
	}
	.ticket-item.actived{
		color: #fff485;
		width: 257px;
		background: url(../images/ticket-item-active-bg.jpg) no-repeat;
		.ticket-item-sider{
			width: 77px;
			background: url(../images/btn-ticket-active.jpg) no-repeat;
		}
	}
	.ticket-item.overdue{
		color: #ececec;
		background: url(../images/ticket-item-overdue-bg.jpg) no-repeat;
		.ticket-item-sider{
			width: 79px;
			background: url(../images/btn-ticket-overdue.jpg) no-repeat;
		}
		.btn-block-text{
			padding-top: 28px;
			color: #ececec;
			cursor:default;
		}

	}
	.denomination{
		position: relative;
		padding: 15px 0 0 18px;
		.unit{
			font-size: 28px;
		}
		.amount{
			font-size: 54px;
		}
		.name{
			font-size: 14px;
			position: absolute;
			right: 20px;
			top:18px;
		}
	}
	.effective-date{
		text-align: center;
	}
	.effective-extend{
		text-align: center;
	}
	.btn-block-text{
		display: block;
		width: 100%;
		height: 100%;
		font-size: 22px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		padding-top: 36px;
	}
}

//PC
.view-pc-container{
	font-family: 微软雅黑;
	font-size: 14px;
	.pub-center-box{
		width: 1100px;
		margin: auto;
	}
	.focus {
		img{
			width: 100%;
			height: 500px;
		}
	}
	.ticket-wraper{
		position: relative;
		width: 1100px;
		height: 154px;
		margin-top: 20px;
		background: url(../images/ticket-box-bg.png) no-repeat;
	}
	.ticket-inner{
		position: absolute;
		left: 50%;
		top:50%;
		margin-top: -65px;
		margin-left: -524px;
	}
	/*商品区*/
	.goods-wraper{
		padding-bottom: 20px;
	}
	.goods-list{
		position: relative;
	}
	.goods-box{
		position: relative;
		z-index: 1;
	}
	.goods-layer{
		position: absolute;
		width: 1100px;
		height: 100%;
		background: #eeeeee;
		z-index: 0;
		margin-bottom: -20px;
	}
	.goods-caption{
		margin:20px auto 20px auto;
	}
	.goods-group{
		position: relative;
		width: 1120px;
		margin-bottom: 20px;
	}
	.goods-item{
		$item-inner-width :210px;
		@mixin pub-content-center{
			display: block;
			width: $item-inner-width;
			margin: auto;
		}
		margin-bottom: 0;
		float: left;
		width: 260px;
		height: 356px;
		margin-right: 20px;
		background: #fff;
		font-size: 16px;
		img{
			height: $item-inner-width;
			@include pub-content-center;
			margin-top: 10px;
		}
		.goods-title{
			@include pub-content-center;
		}
		.goods-summary{
			@include pub-content-center;
			margin-top: 5px;
		    padding: 0 5px;
		    font-size: 14px;
			color: #ff3333;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.goods-price{
			@include pub-content-center;
			margin-top: 5px;
			color: #ff3333;
		}
		.amount{
			font-size: 26px;
			font-weight: bold;
		}
		.btn-buy,.btn-wait,.btn-overdue{
			width: 86px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			font-size: 14px;
		}
		.goods-extre{
			@include pub-content-center;
			font-size: 12px;
		}
	}
}
//预览图 wap
$wap-width:640px;
.pub-wap-center{
	width: $wap-width;
	margin: auto;
}
.view-wap-header{
	position: relative;
	margin-bottom: -3px;
	img{
		width: 640px;
	}
}
.view-wap-container{
	.ticket-wraper{
		overflow: hidden;
		background: #fff;
	}
	.ticket-inner{
		width: 1100px;
		padding: 20px;
	}
	.ticket-style-colm2{
		width: 640px;
		.ticket-item{
			margin-left: 28px;
		}
	}
	.goods-list{
		position: relative;
	}
	.goods-box{
		position: relative;
		z-index: 1;
	}
	.goods-layer{
		position: absolute;
		width: 640px;
		height: 100%;
		background: #eeeeee;
		z-index: 0;
	}
	.goods-group{
		margin-bottom: 2px;
	}
	.goods-item{
		$wap-goods-item-inner-width:260px;
		@mixin pub-content-center{
			display: block;
			width: $wap-goods-item-inner-width;
			margin: auto;
		}
		margin:0;
		margin-right:2px;
		float: left;
		width: 318px;
		height: 432px;
		margin-right: 2px;
		background: #fff;
		font-size: 16px;
		img{
			display: block;
			height: 210px;
			width: 210px;
			margin: auto;
			margin-top: 10px;
		}
		.goods-title{
			@include pub-content-center;
			font-size: 24px;
			font-weight: bold;
			width: $wap-goods-item-inner-width+20;
		}
		.goods-summary{
			@include pub-content-center;
			width: $wap-goods-item-inner-width+20;
			margin-top: 5px;
		    padding: 0 5px;
		    font-size: 14px;
			color: #ff3333;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.goods-price{
			@include pub-content-center;
			width: $wap-goods-item-inner-width+20;
			margin-top: 10px;
    		margin-bottom: 5px;
			color: #ff3333;
		}
		.unit{
			font-size: 24px;
		}
		.amount{
			font-size: 32px;
			font-weight: bold;
		}
		.btn-buy{
			width: 116px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			font-size: 24px;
		}
		.goods-extre{
			@include pub-content-center;
			width: $wap-goods-item-inner-width+20;
			font-size: 16px;
		}
	}
	.style1 .goods-item{
		width: 640px;
		height: 240px;
		margin: 0;
		zoom:1;
	}
	.style1 .goods-item:after{
		content: "";
		display: block;
		height: 0;
		visibility: hidden;
	}
	.style1{
		margin-bottom: 0;
		img{
			float: left;
			margin-left: 30px;
		}
		.goods-extend-info{
			float: right;
			width: 380px;
			height: 238px;
			border-bottom: 2px solid #e3e3e3;
		}
		.goods-title{
			margin-top: 20px;
		}
		.btn-buy{
			display: none;
		}
		.goods-extre{
			color: #999;
			font-size: 24px;
		}
	}
}
.view-wap-footer{
	position: relative;
	margin-top: -2px;
	border-top: 2px solid #e3e3e3;
	img{
		width: 100%;
	}
}